@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    transition: .2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.keyboard_wrapp {
    max-width: 680px;
    width: 100%;
    /* background-color: #e7e7e7; */
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
    border-radius: 5px;
}

.row {
    display: flex;
}

#rowMoved{
margin-left: 34px;
margin-right: 34px;
}

.keys {
    width: 60px;
    height: 60px;
    background-color: lightgray; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: .2s;
    z-index: 5;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.backspace_key {
    width: 95px;
}

.enter_key {
    width: 95px;
}

.keys.active {
    background-color: #333;
    color: #fff;
}

.keys.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}

/* Chnage colour of keys if typed in */

.correct {
    background-color: #6aaa64;
    color: whitesmoke;
  }
  
  .present {
    background-color: #c9b458;
    color: whitesmoke;
  }
  
  .absent {
    background-color: #787c7e;
    color: whitesmoke;
  }  